<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.lazaro.trabalho.control"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuadradoActivity"
            android:label="@string/title_activity_quadrado" >
        </activity>
        <activity
            android:name=".TrianguloActivity"
            android:label="@string/title_activity_triangulo" >
        </activity>
        <activity
            android:name=".TrapezioActivity"
            android:label="@string/title_activity_trapezio" >
        </activity>
        <activity
            android:name=".RetanguloActivity"
            android:label="@string/title_activity_retangulo" >
        </activity>
    </application>

</manifest>
